/* styles.css */
body {
  font-family: "Source Han Sans", "思源黑体", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* 从深蓝色到浅蓝色的垂直渐变 */
  background: linear-gradient(to bottom, #000456, #00d2ff);
  color: #333; /* 文本颜色保持不变，确保可读性 */
  text-align: center; /* 标题剧中，正文左对齐 */
}

header {
  background-color: #000456; /* 浅蓝色背景，以适应整体的深到浅渐变背景 */
  color: #ffffff;
  padding: 20px 0;
}

h1 {
  margin: 0;
  font-size: 2.5rem;
}

.container {
  max-width: 90%;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

p {
  text-align: left; /* 正文左对齐 */
  background-color: #f8faff;
  padding: 15px auto;
}

.latest-story,
.history {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
  text-align: left; /* 正文左对齐 */
}

.latest-story h2,
.history h2 {
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.date {
  cursor: pointer;
  color: #0366d6; /* 适中的蓝色 */
  font-weight: bold;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s ease;
  margin-bottom: 10px;
}

.date:hover {
  border-color: #0366d6; /* 鼠标悬停时下划线颜色 */
}

.story {
  display: none;
  padding: 15px; /* 增加内边距 */
  background-color: #f8faff;
  border-top: 1px solid #eaeaea;
  margin-bottom: 25px; /* 增加间隔 */
}

.story p {
  margin: 0;
  line-height: 1.6;
}

/* 响应式设计 */
@media (max-width: 768px) {
  body {
    background: linear-gradient(to bottom, #000456, #00d2ff);
  }
  .container {
    max-width: 95%;
    padding: 10px;
  }

  h1 {
    font-size: 1.5rem; /* 增大标题字号 */
  }

  .latest-story h2,
  .history h2 {
    font-size: 1rem; /* 增大副标题字号 */
  }

  p {
    font-size: 1rem; /* 增大正文字号 */
  }
}
}
