/* styles.css */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  /* 从深蓝色到浅蓝色的垂直渐变 */
  background: linear-gradient(to bottom, #000456, #00d2ff);
  color: #333; /* 文本颜色保持不变，确保可读性 */
  text-align: center; /* 标题剧中，正文左对齐 */
}

header {
  background-color: #b9e1f5; /* 浅蓝色背景，以适应整体的深到浅渐变背景 */
  color: #333;
  padding: 20px 0;
}

h1 {
  margin: 0;
  font-size: 2.5rem;
}

.container {
  max-width: 90%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

p {
  text-align: left; /* 正文左对齐 */
}

.latest-story,
.history {
  background-color: #f5f5f5; /* 非常浅的蓝色背景 */
  padding: 20px;
  margin-bottom: 20px;
  text-align: left; /* 正文左对齐 */
}

.latest-story h2,
.history h2 {
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.date {
  cursor: pointer;
  color: #0366d6; /* 适中的蓝色 */
  font-weight: bold;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.date:hover {
  border-color: #0366d6; /* 鼠标悬停时下划线颜色 */
}

.story {
  display: none;
  padding: 10px;
  background-color: #f5f5f5;
  border-top: 1px solid #eaeaea;
  margin-top: 10px;
}

.story p {
  margin: 0;
  line-height: 1.6;
}

/* 响应式设计 */
@media (max-width: 768px) {
  .container {
    max-width: 95%;
    padding: 10px;
  }

  h1 {
    font-size: 2rem;
  }

  .latest-story h2,
  .history h2 {
    font-size: 1.2rem;
  }
}
